<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Template</title>
    <script src="js/vue.min.js"></script>
    <style>
        .container {
            width: 50%;
            margin: 20px auto 0px auto;
        }
        ul {
            padding: 0;
        }
        
        ul li {
            list-style-type: none;
            margin: 5px;
            padding: 5px;
            background: #ccc;
            transition: all 0.6s;
        }
        
        .highlight {
            background: #ceff00;
        }

    </style>
</head>

<body>
    <div id="app" class="container">
        <h2>{{ title }}</h2>
        
        <p>What kind of music do you want to see?</p>
        
        <label for="Indie">
            Indie 
            <input type="radio" id="Indie" value="Indie" v-model="picked">
        </label>
        <label for="EDM">
            EDM 
            <input type="radio" id="EDM" value="EDM" v-model="picked">
        </label>
        <p>Currently Highlighting: {{ picked }}</p>
        
        
        <ul>
            <li v-for="band in bands" v-bind:class="{ 'highlight': isSelected(band.genre) }"> {{ band.name }}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                picked: '',
                bands: [{
                    name: 'Alvvays',
                    genre: 'Indie'
                }, {
                    name: 'Deadmau5',
                    genre: 'EDM'
                }, {
                    name: 'Stars',
                    genre: 'Indie'
                }],
                title: 'My Amazing Festival'
            },
            methods: {
                isSelected: function(genre) {
                    if (genre == this.picked) {
                        return true;
                    } else {
                        return false;
                    }
                }
            }
        });
    </script>
</body>

</html>
